.photo{
    img{width: 150px;
    height: 20==150px;}
    
}

.maincards{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.cardbody{
    display: flex;
    width: 600px;
    padding-left:20px;
    flex-wrap: wrap;
    flex-direction: column;
    div{
        margin-bottom:20px;
    }

    button.btncart{
        border: 2px solid rgb(0, 0, 0);
        background-color:#000000;
        color:white;
    }

    button.btncart :active{
        background-color: white;
        color: #000000;
    }
}

.line {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(105, 105, 105, 1);
    width: 100%;
}

.line2 {
    display: flex;
    justify-content: center;
    border-left: 1px solid rgba(105, 105, 105, 1);
    width: 100%;
    margin-right: 40px;
}

.text1{
    display: flex;
    justify-content: center;
}

.numItems {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
  }