.container1 {
    margin: 10px 20px 0 20px;
    display: flex;
    flex-wrap: wrap;
justify-content: center;}
.container {
    width: 270px;
    margin: 0 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;

    // padding-right: 75px;
    img {
        width: 270px;
        height: 300px;
    }

    .maincard {
        display: flex;
        // border: 2px solid black;
    }

    .link {
        text-decoration: none;
    }

    .title {
        padding: 15px 0 15px 0;
        color: black;
        font-weight: 600;
    }
    .description{
        width: 270px;

    }
}

.container2 {
    align-items: flex-start;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px 0 40px;
}

.main{
    margin-left: 200px;
}

.h1{
    text-align: center;
}
// .main {
//     // width: 200px;
// }

// .cont {
//     // display: flex;
//     // justify-content: space-around;

//     img {
//         width: 170px;
//     }

//     a {
//         text-decoration: none;
//         color: #c5c6c7;
//         display: flex;
//         max-width: 10px;
//     }

//     // .cardg{
//     //     display: flex;
//     //     justify-content: space-around;
//     // }

//     .showAll {
//         display: flex;
//         justify-content: space-between;
//         flex-direction: row;
//     }
// }

// .photo {
//     width: 150px;
// }
